<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>

 <h1> Edit Pokemon</h1>
 <form action="/pokemon/<%= pokemon._id %>?_method=put" method="post">
    <label for="name">Pokemon Name:</label>
    <input type="text" name="name" placeholder="Enter Pokemon Name" value="<%= pokemon.name %>"/>
  
    <label for="type">Pokemon Types:</label>
    <input type="text" name="type" placeholder="Enter Pokemon Types" value="<%= pokemon.type %>"/>
  
    <label for="hp">HP:</label>
    <input type="number" name="hp" placeholder="Enter HP" value="<%= pokemon.stats.hp %>"/>
  
    <label for="attack">Attack:</label>
    <input type="number" name="attack" placeholder="Enter Attack" value="<%= pokemon.stats.attack %>"/>
  
    <label for="defense">Defense:</label>
    <input type="number" name="defense" placeholder="Enter Defense" value="<%= pokemon.stats.defense %>"/>

    <label for="spattack">Spattack:</label>
    <input type="number" name="spattack" placeholder="Enter spAttack" value="<%= pokemon.stats.defense %>"/>

    <label for="spdefense">Spdefense:</label>
    <input type="number" name="spdefense" placeholder="Enter spDefense" value="<%= pokemon.stats.spdefense %>"/>

    <label for="speed">Speed:</label>
    <input type="number" name="speed" placeholder="Enter Speed" value="<%= pokemon.stats.speed %>"/>
  
    <input type="submit" value="Add"/>
 </form>
    <a href="/pokemon"><button>Back to main page</main></button></a>
</body>
</html>