<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2><br><%=pokemon.name%></h2>
<div class="container">
    <a href="/pokemon/new"><button>Add Pokemon</button></a>
        <a href="/pokemon"><button>Go Back To Main Page</button></a>
        <a href="/pokemon/<%=pokemon._id%>/edit"><button>Edit <%=pokemon.name%></button></a>
</div>

<div class="pokemonImg">
    <img src="<%=pokemon.img%>" alt="Pokemon Image">
</div>
<ul>
    <li>
       
    <form action="/pokemon/<%=pokemon._id%>?_method=delete" method="post">
        <input type="submit" value="DELETE">
    </form>
    </li>
<li>
    <h1>Stats:</h1>
        <p>HP: <%=pokemon.stats.hp%></p>
        <p>Attack: <%=pokemon.stats.attack%></p>
        <p>Defense: <%=pokemon.stats.defense%></p>
        <p>spAttack: <%=pokemon.stats.spattack%></p>
        <p>spDefense <%=pokemon.stats.spdefense%></p>
        <p>Speed: <%= pokemon.stats.speed%></p>
</li>
<li>
    <h1>Misc</h1>
        <p>Height: <%=pokemon.misc.height%></p>
        <p>Weight: <%=pokemon.misc.weight%></p>
</li>
</ul>
  
</body>
</html>