<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2><br><%=pokemon.name%></h2>
<div class="container">
    <a href="/pokemon/new"><button>Add Pokemon</button></a>
        <a href="/pokemon"><button>Go Back To Main Page</button></a>
        <a href="/pokemon/<%=pokemon._id%>/edit"><button>Edit <%=pokemon.name%></button></a>
        <form action="/pokemon/<%=pokemon._id%>?_method=delete" method="post">
            <input type="submit" value="Delete <%=pokemon.name%>">
        </form>
</div>

<div class="pokemonImg">
    <img src="<%=pokemon.img%>" alt="Pokemon Image">
</div>


<div class="container-box">
    <div class="left-box">
        <div class="box">
            <h3>Stats:</h3>
            <ul>
                <li>HP: <%=pokemon.stats.hp%></li>
                <li>Attack: <%=pokemon.stats.attack%></li>
                <li>Defense: <%=pokemon.stats.defense%></li>
                <li>spAttack: <%=pokemon.stats.spattack%></li>
                <li>spDefense: <%=pokemon.stats.spdefense%></li>
                <li>Speed: <%= pokemon.stats.speed%></li>
            </ul>
        </div>
    </div>    
    
    <div class="right-box">
        <div class="box">
            <h3>Misc:</h3>
            <ul>
                <li>Height: <%=pokemon.misc.height%></li>
                <li>Weight: <%=pokemon.misc.weight%></li>
            </ul>
        </div>
    </div>
</div>
  
</body>
</html>