<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="pokemon"><%= pokemon.name %></h1>
<div class="container">
    <img src="<%= pokemon.image %>" alt="Pokemon Image">
</div>
    <h1 class="pokemonTypes"><%= pokemon.type %></h1>
<div>
    <h1>Stats:</h1>
    <ul>
        <li>HP: <%= pokemon.stats.hp %></li>
        <li>Attack: <%= pokemon.stats.attack %></li>
        <li>Defense: <%= pokemon.stats.defense %><li>
    </ul>
</div>
    <a href="/pokemon"><button>Go Back to Main</button></a>
    <a href="/pokemon/<%= pokemon._id %>/edit"><button>EDIT</button></a>
    <form action="/pokemon/<%= pokemon._id %>?_method=delete" method="post">
        <input type="submit" value="DELETE">
    </form>
</body>
</html>